.listItem {
  font-family: "little sunshine";
  font-size: 1.8rem;
  line-height: initial;
  text-transform: uppercase;
  &.todo {
    // font-style: italic;

    &.complete-true {
      .task {
        text-decoration: 1px wavy line-through;
      }
    }
    .delete {

      &:hover {
        color:rgba($color: #db4646, $alpha: 0.8);
      }
    }
  }

  h3 {
    font-family: "Rock Salt";
    font-size: small;
  }
}
