.listItem {
  font-family: "small letters";
  font-size: xx-large;
  text-shadow: 3px 3px 7px rgb(183, 183, 183), -5px -3px 7px white;

  &.todo {
    &:hover {
      cursor: pointer;
    }
    &.complete-true {
      text-decoration: 1px wavy line-through ;
    }
  }

  h3 {
    font-family: "Rock Salt";
    font-size: small;
  }
}
