.journalTab {
  width: 40px;
  .journalTabTitle {
    transform: rotate(90deg) translateY(-40px);
  }

  &:hover {
    width: 80px;
    cursor: pointer;
    .journalTabTitle {
      transform: rotate(90deg) translateY(-80px);
    }
  }
}
