@font-face {
    font-family: "small letters";
    src: url("./assets/fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf");
}

@font-face {
    font-family: "Rock Salt";
    src: url("./assets/fonts/Rock_Salt/RockSalt-Regular.ttf");
}

:root {
    --subtle-grey: rgb(183 183 183 / 16%);
    --border-color: var(--subtle-grey);
    --subtle-box-shadow: 3px 3px 20px rgba(183 ,183 ,183 , 40%);
}  